@mixin card(
	$bgColor,
	$textColor,
	$borderImgColor,
	$secondTextColor,
	$fontSize,
	$gridArea,
	$cardWidth,
	$cardHeight
) {
	background: $bgColor;
	margin: 2rem 0;
	padding: 2rem;
	color: $textColor;
	border-radius: 9px;
	box-shadow: 1px 4px 9px rgba($grayish-blue, 0.4);

	@media screen and (min-width: 1200px) {
		grid-area: $gridArea;
		margin: 0;
		padding: 3rem;
		height: $cardHeight;
		width: $cardWidth;
	}

	&-user {
		&-container {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
		}

		&-img {
			height: 2.5rem;
			width: 2.5rem;
			border-radius: 50%;
			margin-right: 1.2rem;
			border: 2px solid $borderImgColor;

			@media screen and (min-width: 1200px) {
				height: 2.8rem;
				width: 2.8rem;
			}
		}

		&-name {
			@media screen and (min-width: 1200px) {
				font-size: 1.1rem;
			}
		}

		&-verified {
			opacity: 50%;
			font-size: 11px;

			@media screen and (min-width: 1200px) {
				font-size: 1.1rem;
			}
		}
	}

	&-title {
		&-container {
			margin-bottom: 1.2rem;
		}

		&-text {
			font-size: 1.65rem;
			font-weight: 600;
		}
	}

	&-content {
		&-text {
			color: $secondTextColor;
			font-weight: 500;
			opacity: 75%;
			font-size: $fontSize;
			line-height: 1.5;
		}
	}
}
